.content {
  margin: 20px;
  width: 20rem;
}
.title {
  color: rgb(38, 57, 104);
  margin-bottom: 0px;
}
.attr {
  width: 50%;
  float: left;
  color: rgb(157, 175, 220);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.value {
  display: inline-block;
  width: 50%;
  color: rgb(72, 99, 165);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
